<div class="banner">

  <script src="typed.js"></script>

  <div class="container dynamic-box">
    <div class="text-home">
      <div class="header">
        <h1 class="prefix">Welcome <span id="typed"></span></h1>
      </div>
      <div class="tagline">
        <h2>The page for all space-related news.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container card-box">
  <div class="row inline">
    <div class="col-lg-6 col-sm-12">
      <h3>Most recent launches</h3>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>18th March 2020</h2>
          <p>GOES-17 is the second of the current generation of weather satellites operated by the National Oceanic and Atmospheric Administration. The four satellites of the series will extend the availability of the GOES until 2036 for weather forecast and meteorology research</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <h3>Upcoming launches</h3>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>18th March 2020</h2>
          <p>GOES-17 is the second of the current generation of weather satellites operated by the National Oceanic and Atmospheric Administration. The four satellites of the series will extend the availability of the GOES until 2036 for weather forecast and meteorology research</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container card-box-two">
  <div class="row inline">
    <div class="col-lg-6 col-sm-12">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>18th March 2020</h2>
          <p>GOES-17 is the second of the current generation of weather satellites operated by the National Oceanic and Atmospheric Administration. The four satellites of the series will extend the availability of the GOES until 2036 for weather forecast and meteorology research</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>18th March 2020</h2>
          <p>GOES-17 is the second of the current generation of weather satellites operated by the National Oceanic and Atmospheric Administration. The four satellites of the series will extend the availability of the GOES until 2036 for weather forecast and meteorology research</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container card-box-two">
  <div class="row inline">
    <div class="col-lg-6 col-sm-12">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>18th March 2020</h2>
          <p>GOES-17 is the second of the current generation of weather satellites operated by the National Oceanic and Atmospheric Administration. The four satellites of the series will extend the availability of the GOES until 2036 for weather forecast and meteorology research</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>18th March 2020</h2>
          <p>GOES-17 is the second of the current generation of weather satellites operated by the National Oceanic and Atmospheric Administration. The four satellites of the series will extend the availability of the GOES until 2036 for weather forecast and meteorology research</p>
        </div>
      </div>
    </div>
  </div>
</div>
