
.banner {
  background-image: asset-url('space.png');
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-position: center;
}

.dynamic-box {
  min-height: 50vh;
  padding-top: 300px;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 80px;
}

.banner h2 {
  color: white;
  font-size: 40px;
  margin-top: 50px;
}
