.navbar {
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  justify-content: left;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.8s background-color ease;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

